---
title: "Categories"
layout: default
pagination:
    enabled: true
permalink: "/categories"
---

<div class="container" id="default-content" style="display: none;">
	<div class="row justify-content-center">
		 <div class="col-md-8">
    <h4 class="font-weight-bold spanborder"><span>{{ page.title }}</span></h4>
			 <div class="row">
  <div class="col-md-auto mb-2 mb-md-0 p-2">
    <h6 class="mr-md-2">Search for a category </h6>
  </div>
  <div class="col">
    <input type="text" id="filterInput" class="form-control mb-3" >
  </div>
</div>
			 <hr>
			  <div class="row">
        {% for category in site.categories %}
        <div class="col-sm-4 p-1 item" id="{{ category[0] | downcase }}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ category[0] }}</h5>
			<h6>{{ site.categories[category] | size }} posts <a href="{{ site.baseurl }}/categories?id={{ category[0] | downcase }}"><i class="fas fa-external-link-square-alt"></i></a></h6>
                </div>
            </div>
        </div>
        {% endfor %}
				  </div>
  
			  <div id="noResultsMessage" style="display: none;"><h6>No matching items found.</h6></div>
		 </div>
	<div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
</div>
</div>


<div class="container" id="conditional-content" style="display: ;">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>
        <div id="no-category-found-message"></div>
        {% for category in site.categories %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}" data-category="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
	  {% include main-loop-card.html %}
            
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

{% endfor %}

        </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>


<script>
window.addEventListener("DOMContentLoaded", function() {
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var categoryValue = urlParams.get('id');
    if (categoryValue) {
        var elements = document.querySelectorAll('[data-category]:not([data-category="' + categoryValue + '"])');
	let capitalizedString = categoryValue.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
        if (elements.length > 0) {
	    document.title = capitalizedString;
            elements.forEach(function(element) {
                element.remove();
            });
        } else {
            // Display message in the predefined paragraph
            var messageParagraph = document.getElementById('no-category-found-message');
            if (messageParagraph) {
                messageParagraph.innerHTML = '<p>No elements found for category: ' + categoryValue + '</p>';
            }
		var defaultContent = document.getElementById('default-content');
		if (defaultContent) {
            	defaultContent.style.display = 'block';
        }
        }
    } else {
    // Display the same message if no categoryValue is provided
    var defaultContent = document.getElementById('default-content');
    var conditionalContent = document.getElementById('conditional-content');
        if (defaultContent) {
            defaultContent.style.display = 'block';
        }
	if (conditionalContent) {
            conditionalContent.style.display = 'none';
        }
    }
});

 document.getElementById('filterInput').addEventListener('input', function() {
        var filterValue = this.value.toLowerCase();
        var items = document.querySelectorAll('.item');
        var noResultsMessage = document.getElementById('noResultsMessage');
        
        var found = false;
        items.forEach(function(item) {
            if (item.id.toLowerCase().indexOf(filterValue) > -1) {
                item.style.display = 'block';
                found = true;
            } else {
                item.style.display = 'none';
            }
        });

        if (!found) {
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    });
	
</script>
