---
title: "Categories"
layout: default
pagination:
    enabled: true
permalink: "/categories"
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <h1 class="font-weight-bold title h6 text-uppercase mb-4">Categories</h1>
            
        {% for category in site.categories %} 
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}" data-category="{{ category[0] | downcase }}"><span>{{ category[0] }}</span></h4>
            
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
         
	  {% include main-loop-card.html %}
            
          {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
{% else %}
    <p>No categories found.</p>
{% endfor %}

        </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>


<script>
window.addEventListener("DOMContentLoaded", function() {
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var categoryValue = urlParams.get('id');
    if (categoryValue) {
        console.log(categoryValue);
        var elements = document.querySelectorAll('[data-category]:not([data-category="' + categoryValue + '"])');
        elements.forEach(function(element) {
            element.remove();
        });
    }
});
</script>
