---
title: "Trial"
layout: default
permalink: "/trial"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>	
    <div class="row">
    {% for category in site.categories %}
        <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ category[0] }}</h5>
        <p class="card-text">There are articles in this category.</p>
        <a href="{{site.baseurl}}/categories?id={{ category[0] | downcase }}" class="btn btn-primary">View all {{ category[0] | downcase }} articles</a>
      </div>
    </div>
  </div>
    {% endfor %}
    </div>
</div>

<div id="container">
  {% assign alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
  {% for letter in alphabet %}
    {% assign tagsInLetter = "" | split: "" %}
    {% for tag in site.tags %}
      {% if tag[0] | slice: 0 == letter %}
        {% assign tagsInLetter = tagsInLetter | concat: tag[1] %}
      {% endif %}
    {% endfor %}
    {% if tagsInLetter.size > 0 %}
      <section>
        <h2>{{ letter }}</h2>
        <ul>
          {% assign sortedTags = tagsInLetter | sort %}
          {% for t in sortedTags %}
            <li>{{ t }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}
</div>
 
  
 
