<div class="container">
    <div class="border p-5 bg-lightblue" bis_skin_checked="1">
				<div class="row justify-content-between" bis_skin_checked="1">
					<div class="col-md-6 mb-2 mb-md-0" bis_skin_checked="1">
						<h5 class="font-weight-bold">Join Newsletter</h5>
						 Get the latest news right in your inbox. We never spam!
					</div>
					<div class="col-md-6" bis_skin_checked="1">
						<div class="row" bis_skin_checked="1">
                            <form data-v-c76ccf54="" action="{{ site.feedburner-list }}">
			    <div class="mc-field-group" bis_skin_checked="1">
			        <input data-v-c76ccf54="" type="email" placeholder="Enter e-mail address" name="email" class="required email form-control w-100" id="mce-EMAIL" autocomplete="on" required="">
			        <button data-v-c76ccf54="" type="submit" value="Subscribe" name="subscribe" class="heart btn btn-success btn-block w-100 mt-2">Subscribe</button>
				    <a href="https://follow.it" class="powered-by-line">Powered by <img src="https://follow.it/static/img/colored-logo.svg" alt="follow.it" height="17px"></a>
			    </div>
				</form>
						</div>
					</div>
				</div>
			</div>
</div>
